<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="header">
    <img src="/pictures/SMA-logo.gif" alt="Logo" id="logo">
    <span id="title-name">SocialMediaApp</span>
</div>
<div id="main-container">
    <form id="login-form">
        <span id="first-part">SMA</span>
        <span id="second-part">Login</span><br>

        <label for="username-input">Username:</label>
        <input type="text" name="username" id="username-input" required><br>

        <label for="password-input">Password:</label>
        <input type="text" name="password" id="password-input" required><br>

        <button value="submit">LOG IN</button>
    </form>
</div>
</body>
</html>