<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheet/index.css">
</head>

    <body>
        <div id="header">
            <img src="picture/SMA-logo.gif" alt="Logo" id="logo">
            <span id="title-name">SocialMediaApp</span>
        </div>
        <div id="main-container">
            <form id="login-form" action="/index" method="post"> <!-- Method which retrieves the userpage.html page. -->
            <span id="first-part">SMA</span>
            <span id="second-part">Login</span><br>

            <label  id="username">Username:</label>
            <input required type="text" name="username" id="username-input" ><br>

            <label for="password-input" id="password">Password:</label>
            <input type="text" name="password" id="password-input" required><br>

            <button id ="login" value="submit">LOG IN</button>
            </form>
        </div>
    </body>
</html>