<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="stylesheet/userpage.css">
    <link rel="stylesheet" href="stylesheet/usersearch.css">
</head>
<body>
    <div id="header">
        <img src ="picture/SMA-logo.gif" alt="logo" id ="logo">

        <form id="search-form" action="/usersearch" method="get">
            <input type = "text" name="search" id="search">
        </form>
    </div>
    <div id="search-area">
        <span class="error-empty-search" th:if="${userSearch == '' || userSearch == ' '}">You have searched for nothing!</span>
        <span th:unless="${userSearch == '' || userSearch == ' '}">
            <div th:switch="${userList.size()}">
                <span class="error-empty-search" th:case="'0'">There are no users corresponding to Your search!</span>

                <h1 id="search-results-header">Search results</h1>

                <div id="search-results" th:case="*">
                    <div th:each="user: ${userList}">
                        <a th:href="@{'/user/' + ${user.userId}}">
                            <div id="user-info" th:text="${user.firstName + ' ' + user.lastName}"></div>
                        </a>
                        <div id="user-description" th:text="${user.userDescription}"></div>
                        <span th:if="${!checkFriend}">
                            <form th:action="@{/add/{id}(id=${user.userId})}" th:object="${user}" method="post">
                                <button type="submit" >ADD</button>
                            </form>
                        </span>
                        <hr>
                    </div>
                    <br><br>
                </div>
            </div>
        </span>
    </div>
</body>
</html>