<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <link rel="stylesheet" href="stylesheet/userpage.css">
    </head>
    <body>
        <div id="header">
            <img src ="picture/SMA-logo.gif" alt="logo" id ="logo">

            <input type = "text" name="search" id="search">

            <form id="log-out-form" action="/index" method="get" >
            <button id="log-out-button" type="submit">LOG OUT</button>
            </form>
        </div>
        <div id="main-section">
            <div id="user-area"></div>
                <img src="picture/user-pic.png" alt="User Picture" id="logged-user-image">

                <span id="user-name" th:text="${loggedInUser.firstName + ' ' + loggedInUser.lastName}"></span>
            </div>
            <div id="area-description">
                <p id="description">Description</p>
            </div>
            <div id="area-friends-list">
                <span id="friends-list">Friends List</span>
            </div>
            <div>
                <div id="friend-name-1">
                    <img src="" alt="user-picture">
                    <span>Friend 1 Name</span>
                    <button>Remove Friend</button>
                    <br>
                </div>
                <div id="friend-name-2">
                    <img src="" alt="user-picture">
                    <span>Friend 2 Name</span>
                    <button>Remove Friend</button>
                </div>
            </div>
        </div>
    </body>
</html>