<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <link rel="stylesheet" href="stylesheet/userpage.css">
    </head>
    <body>
        <div id="header">
            <img src ="picture/SMA-logo.gif" alt="logo" id ="logo">

            <form id="search-form" action="/usersearch" method="get">
                <input type = "text" name="search" id="search">
            </form>

            <form id="log-out-form" action="/index" method="get" >
                <button id="log-out-button" type="submit">LOG OUT</button>
            </form>
        </div>
        <div id="main-section">
            <div id="user-area"></div>
                <img src="picture/user-pic.png" alt="User Picture" id="logged-user-image">
                <span id="user-name" th:text="${loggedInUser.firstName + ' ' + loggedInUser.lastName}"></span>
            </div>
            <div id="area-description">
                <p id="description" th:text="${loggedInUser.userDescription}"></p>
            </div>
            <span id="friends-list">Friends List:<br><br></span>
            <div id="area-friends-list" th:each="friend: ${friendsList}">
                <img src="picture/user-pic.png" id="user-picture-small">
                <div class="friend-user-firstName" th:text="${friend.getUserByFriendlyId().firstName + ' '
                                                            + friend.getUserByFriendlyId().lastName}">
                </div>
                <button>Remove Friend</button><br><br>
        </div>
    </body>
</html>