body {
    padding: 0;
    margin: 0;
}

#logo {
    width: 8%;
    height: 8%;
    padding-top: 10px;
    margin-bottom: 0%;
    padding-bottom: 10px;
}

#header {
    background-color: #1A9BA5;
    padding-left: 15px;
}

#title-name {
    color: white;
    padding-left: 40px;
    font-weight: bold;
    width: auto;
    font-size: 70px;
    font-family: 'Segoe UI';
    position: relative;
    top:-30px;
}

#main-container {
    align-content: center;
}

#login-form {
    position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:19em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid black;
    box-shadow: 17px 17px 20px #707070;
}

button {
    background-color: #EF7F0F;
    padding: 5px 100px 5px;
    font-size: 30px;
    border: none ;
    border-radius: 5em;
    color: white;
    position: relative;
    top:40px;
    left:90px;
}

#first-part {
    color : #1A9BA5;
    font-size: 50px ;
    padding-left: 50px;
    font-family: 'Segoe UI';
    font-weight: bold;
    position: relative;
    top:10px;
}

#second-part {
    color: black;
    font-size: 50px;
    padding-left: 5px;
    font-family: 'Segoe UI';
    font-weight: bold;
    position: relative;
    top:10px;
}

#credentials-area {
    position: relative;
    padding-top: 50px;
    padding-left: 100px;
}

#username-area {
    padding-bottom: 20px;
}

#username, #password{
    color: #707070;
    font-family: 'Segoe UI';
    font-size: 25px;
    position: relative;
}

#password {
    padding-right: 8px;
}
